<div class="topsection">
    <h1 id="mainchamptext">Champions</h1>
    <div class="champsection">
        <div class="sidesection">
            <p>Select a Champion</p>
            <div class="displaychamps">
                <ul class="heroes" *ngFor="let champ of championslist">
                    <li>{{ championslist }}</li>

                </ul>

            </div>
        </div>

        <div class="selectedchampnav">

            <h2> Details:</h2>
            <div class="selectedchampinfo">

            </div>

        </div>
    </div>
    <div class="input">
        <form action="">
            <button class="buttons" mat-raised-button>Insert Champion</button>
            <button class="buttons" mat-raised-button>Delete Champion</button>
        </form>


    </div>
</div>