body {
    height: 100%;
    color: rgba(7, 18, 26, 1);
}

.heroes {
    color: white;
    size: 100px;
}

.heroes li {
    margin: 10px;
}

.displaychamps span {
    font-size: 28px;
}

.displaychamps {
    margin: 25px;
    padding: 10px;
    height: auto;
    color: white;
    justify-items: center;
}

.heroes li:hover {
    margin: 5px;
    color: rgba(255, 94, 94, 1);
    cursor: pointer;
}

.sidesection {
    background-color: rgba(42, 51, 73, 1);
    width: 350px;
    height: auto;
    vertical-align: middle;
    justify-items: center;
}

.selectedchampnav::content {
    background-color: rgb(100, 134, 158);
    margin: 20px;
    height: auto;
    width: auto;
}

.champsection h2 {
    font-family: 'Bungee', cursive;
    font-size: 28px;
}

.champsection {
    padding: 50px;
    color: white;
    background-color: rgba(42, 51, 73, 1);
    width: auto;
    display: flex;
}

#mainchamptext {
    line-height: 150px;
    margin: auto;
    vertical-align: middle;
}

.selectedchampinfo li,
h2 {
    padding: 10px;
    margin: 5px;
    list-style-type: none;
}

.topsection h1 {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 40px;
    color: white;
}

.topsection {
    background-color: rgba(42, 51, 73, 1);
    height: 780px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

p {
    font-family: 'Bungee', cursive;
    font-size: 32px;
    color: white;
}

input {
    margin: 40px;
}

.buttons {
    background-color: rgba(255, 94, 94, 1);
    font-family: 'Comfortaa', cursive;
    border-radius: 10px;
    margin: 10px;
    border: solid 5px rgba(255, 94, 94, 1);
    height: 40px;
    transition: transform 1s;
}

input.buttons:hover {
    border-radius: 20px;
    transform: scale(1.05);
}