<body>
    <div class="WelcomeWrapper">
      <div class="WelcomeText">
        <h1>There’s a lot to learn about League, so we’ll start with the essentials. <br><br> Press the button below to get an overview of what League of Legends is all about.</h1>
        <button (click)="showLeagueObjects()">Let's Go</button>
      </div>
    </div>

<div id="container" class="leagueContainer">
  <div class="LeagueOfLegendsTitle">
    <h1 class="title">
        League Of Legends
    </h1>
</div>
  <div class="textDiv">
    <p>League of Legends is a team-based strategy game where two teams of five powerful champions face off to destroy the other’s base. Choose from over 140 champions to make epic plays, secure kills, and take down towers as you battle your way to victory.</p>
  </div>
  <div class="LeagueObjects">
    <div id="champions" class="grid-item">
        <p>Champions</p>
    </div>
        <div id="runes" class="grid-item">
          <p>Runes</p>
        </div>
        <div id="spells" class="grid-item">
          <p>Summoner Spells</p>
        </div>
        <div id="items" class="grid-item">
          <p>Items</p>
      </div>
        <div id="minions" class="grid-item">
          <p>Minions</p>
        </div>
        <div id="monsters" class="grid-item">
         <p>Monsters</p>
      </div>
      <div id="maps" class="grid-item">
        <p>Maps</p>
     </div>
     <div id="modes" class="grid-item">
        <p>Game Modes</p>
     </div>
      </div>
      </div>
</body>