<div class="topsection">
    <h1 id="mainitemtext">Items</h1>
    <div class="itemsection">
        <div class="sidesection">
            <p>Select an item</p>
            <div class="displayitems">

                <ul class="items">
                    <li class="itemshover" *ngFor="let items of itemlist" (click)="onSelectedItem(items)">{{items.name}}<br> </li>
                </ul>
            </div>
        </div>
        <div class="selecteditemnav">
            <div *ngIf="selectedItem">
                <h2> Details :</h2>
                <div class="selectediteminfo">
                    <li> Name: {{selectedItem.name}}</li>
                    <li> Quality: {{ selectedItem.quality }}</li>
                </div>
            </div>
        </div>
    </div>
</div>