.items {
    color: white;
    size: 100px;
}

.items li {
    margin: 10px;
}

.displayitems span {
    font-size: 28px;
}

.displayitems {
    margin: 25px;
    padding: 10px;
    height: auto;
    color: white;
    justify-items: center;
}

.items li:hover {
    margin: 5px;
    color: rgba(255, 94, 94, 1);
    cursor: pointer;
}

.sidesection {
    background-color: rgba(7, 18, 26, 1);
    width: 350px;
    height: auto;
}

.selecteditemnav {
    background-color: rgb(100, 134, 158);
    height: auto;
    margin: 20px;
}

.itemsection {
    padding: 50px;
    color: white;
    background-color: rgba(7, 18, 26, 1);
    width: 350px;
    height: auto;
}