<div class="itemsection">
    <div class="sidesection">
        <div class="displayitems">
            <span>Items:</span>
            <ul class="items">
                <li class="itemshover" *ngFor="let items of itemlist" (click)="onSelectedItem(items)">{{items.name}}<br> </li>
            </ul>
        </div>
    </div>
    <div class="selecteditemnav">
        <div *ngIf="selectedItem">
            <h2> Details :</h2>
            <div class="selectediteminfo"><span>Name: </span>{{selectedItem.name}}<br>
                <span>Quality: {{ selectedItem.quality }}</span>
            </div>
        </div>
    </div>
</div>