<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Of Legends</title>
</head>

<body>
    <div class="topnav">

        <a class="links" routerLink="/welcome-page" routerLinkActive="activebutton">League Of Legends</a>
        <a class="links" routerLink="/champions" routerLinkActive="activebutton">Champions</a>
        <a class="links" routerLink="/items" routerLinkActive="activebutton">Items</a>
        <div class="loginform">
            <form action="">
                <input type="text" placeholder="Username" name="Username" id="uid">
                <input type="password" placeholder="Password" name="Password" id="pswd">
                <input class="buttons" type="button" value="Login">
            </form>
        </div>
    </div>

    <router-outlet></router-outlet>




</body>

</html>